<a href="https://colab.research.google.com/github/Layers5/Python-Notebook/blob/main/PythonWk_2b.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python Notebook

##Week 2b

###Functions

```
while: repeatedly executes an indented block of code until the loop body shows false

random.randint(_,_): provides a new random number in between the min and max- given inside the paranthases

reversed(): recerses the order of the elements

range(a, b, c): generates a sequence of integers between a starting integer that is included in the range(a), an ending integer (b-1) that is not included in the range, and an integer step value (c); if you want to count down from b to a, you make c = -1


```


###Vocab

- *sentinel value*: a value that when evaluated by the loop expression causes th eloop to terminate

- *infinite value*: a loop that will always execute because the loop's expression is always true

- *docstring*: A multi-line string literal deliminted at the beginning and end by triple quotes

- *loop variable*: a variable to count the number of iterations

```
#Iterating N times using a loop var
i = 1
while i <= N:
  #loop body statements go here
  i = i +1 / i += 1

#Iterating to count down
i = man_num
while i >= 1:
  #loop body statements go here
  i = i-1

```

- *for loop*: loops over each statement in a container one at a time, assigning a variable with the next element that can then be used in the loop body

```
#to loop for a certain number of times:
for i in range(0, 5):
  print(i)

```

In [2]:
contact_emails = {
    'Sue Reyn' : 's.reyn@email.com',
    'Mike Filt': 'mike.filt@bmail.com',
    'Nate Arty': 'narty042@nmail.com'
}

new_contact = input()
new_email = input()
contact_emails[new_contact] = new_email

for contact in contact_emails:
    print (f'{contact_emails[contact]} is {contact}')

Loren Ayers
layers5@jh.edu
s.reyn@email.com is Sue Reyn
mike.filt@bmail.com is Mike Filt
narty042@nmail.com is Nate Arty
layers5@jh.edu is Loren Ayers

- *Nested loop*: is a loop that appears as part of the body of another loops and are commonly referred to as the *outer loop* and the *inner loop*

- *break*: a statement that causes a loop to exit immediately

- *continue*: a statement that causes a loop

In [3]:
for i in range(6):
  if i == 4:
    break
  print(i)

0
1
2
3

- *loops else*: executes if the loop completes normally as show below:

In [4]:
names = ['Janice', 'Clarice', 'Martin', 'Veronica', 'Jason']

num = int(input('Enter number of names to print: '))
for i in range(len(names)):
    if i == num:
        break
    print(names[i], end= ' ')
else:
  print()
  print('All names printed.')

Enter number of names to print: 8
Janice Clarice Martin Veronica Jason
All names printed.

In [11]:
str = 'Hello'

#printing the elements of the list to read
for i in str:
  print(i, end='')

print()
#printing the elements on their own
for i in str:
  print(i)

Hello
H
e
l
l
o

- *while loop*: if we know when exactly we want the loop to close, we will use this type of loop

In [12]:
i = 0
sum = 0

while i <4:
  print(i)
  sum += i
  i += 1
  print(sum)

0
0
1
1
2
3
3
6

###Example using random.randint function and while loop

In [1]:
import random

keep_bidding = '-'
next_bid= 0

while keep_bidding != 'n':
  next_bid = next_bid + random.randint(1,10)
  print(f'I\'ll bid ${next_bid}!')
  print('Continue bidding?', end='')
  keep_bidding = input()

print()
if keep_bidding == 'n' :
  print('Thank you for playing!')

I'll bid $5!
Continue bidding?y
I'll bid $10!
Continue bidding?y
I'll bid $11!
Continue bidding?y
I'll bid $16!
Continue bidding?n

Thank you for playing!

##Making combinations with *Nested loops*

In [13]:
alph_str = ['a', 'b', 'c', 'd']
num_str = ['1', '2', '3', '4']

#matches every element i in alph_str with every element j in num_str
for i in alph_str:
  for j in num_str:
    print(i,j)

a 1
a 2
a 3
a 4
b 1
b 2
b 3
b 4
c 1
c 2
c 3
c 4
d 1
d 2
d 3
d 4

In [17]:
import math

x = float(input())
n = int(input())
tay_sum = 0

act_cos = math.cos(x)
print('cos(x) =', act_cos)

for i in range(n):
    ex_cos = math.factorial(i)
    tay_sum = tay_sum + ex_cos

percent_error = (abs(act_cos - tay_sum)/(act_cos)) * 100
print('percent_error=', percent_error)

1.5
4
cos(x) = 0.0707372016677029
percent_error= 14036.832902969905

In [22]:
import math
n = 4
for i in range(n):
  fact = math.factorial(i)
  print(fact)

1
1
2
6